*.so
*.o
*Dictionary*
bin*
users/*
shell/.*
src/LendaPacker/*Test*
*~
*#
*.d
src/TimmingAnalyzer2Channel/TimmingAnalyzer
src/TimmingAnalyzer2Channel/*.txt
*.root
*clang*
*back*
src/include/.*
prm/Corrections.txt_compton_*
prm/*
FakeDataGenerator/
LendaBundle/
src/LendaFilter/build.sh
